.header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem 9%;
      background: transparent;
      display: flex;
      justify-content: space-between; 
      align-items: center;
      z-index: 100;
      backdrop-filter: sepia(80%);
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
      padding: 0 2rem;
    }
    
    .navbar {
      margin-left: auto;
      display: flex; 
      justify-content: end;
      margin-right: 20px;
    }
    
    .navbar a {
      font-size: 1.7rem;
      color: pink;
      font-weight: 500;
      margin-left: 3.5rem;
      transition: 0.3s;
    }
    
    .navbar a:hover,
    .navbar a.active {
      color: red;
    }
    